# Dependencies
backend/.venv/
frontend/node_modules/

# Build & Cache outputs
frontend/dist/
backend/.pytest_cache/
**/__pycache__/
*.pyc
.DS_Store

# Databases
backend/*.db
backend/*.sqlite
backend/*.sqlite3

# Logs
*.log
.vercel
